<!--

=========================================================
* Volt Free - Bootstrap 5 Dashboard
=========================================================

* Product Page: https://themesberg.com/product/admin-dashboard/volt-premium-bootstrap-5-dashboard
* Copyright 2020 Themesberg (https://www.themesberg.com)
* License (https://themesberg.com/licensing)

* Designed and coded by https://themesberg.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. Please contact us to request a removal.

-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Primary Meta Tags -->
  <title>My Article</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="title" content="Volt Free Bootstrap Dashboard - Transactions">
  <meta name="author" content="Themesberg">
  <meta name="description"
    content="Volt Pro is a Premium Bootstrap 5 Admin Dashboard featuring over 800 components, 10+ plugins and 20 example pages using Vanilla JS.">
  <meta name="keywords"
    content="bootstrap 5, bootstrap, bootstrap 5 admin dashboard, bootstrap 5 dashboard, bootstrap 5 charts, bootstrap 5 calendar, bootstrap 5 datepicker, bootstrap 5 tables, bootstrap 5 datatable, vanilla js datatable, themesberg, themesberg dashboard, themesberg admin dashboard" />
  <link rel="canonical" href="https://themesberg.com/product/admin-dashboard/volt-premium-bootstrap-5-dashboard">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://demo.themesberg.com/volt-pro">
  <meta property="og:title" content="Volt Free Bootstrap Dashboard - Transactions">
  <meta property="og:description"
    content="Volt Pro is a Premium Bootstrap 5 Admin Dashboard featuring over 800 components, 10+ plugins and 20 example pages using Vanilla JS.">
  <meta property="og:image"
    content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/volt-pro-bootstrap-5-dashboard/volt-pro-preview.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://demo.themesberg.com/volt-pro">
  <meta property="twitter:title" content="Volt Free Bootstrap Dashboard - Transactions">
  <meta property="twitter:description"
    content="Volt Pro is a Premium Bootstrap 5 Admin Dashboard featuring over 800 components, 10+ plugins and 20 example pages using Vanilla JS.">
  <meta property="twitter:image"
    content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/volt-pro-bootstrap-5-dashboard/volt-pro-preview.jpg">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <!-- Fontawesome -->
  <link type="text/css" href="/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Sweet Alert -->
  <link type="text/css" href="/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

  <!-- Notyf -->
  <link type="text/css" href="/vendor/notyf/notyf.min.css" rel="stylesheet">

  <!-- Volt CSS -->
  <link type="text/css" href="/css/volt.css" rel="stylesheet">

  <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
  <%- include('../partials/header') %>
</head>

<body>

  <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->


  <nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-md-none">
    <a class="navbar-brand me-lg-5" href="/index.html">
      <img class="navbar-brand-dark" src="/assets/img/brand/light.svg" alt="Volt logo" /> <img
        class="navbar-brand-light" src="/assets/img/brand/dark.svg" alt="Volt logo" />
    </a>
    <div class="d-flex align-items-center">
      <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <nav id="sidebarMenu" class="sidebar d-md-block bg-dark text-white collapse" data-simplebar>
    <div class="sidebar-inner px-4 pt-3">
      <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
        <div class="d-flex align-items-center">
          <div class="user-avatar lg-avatar me-4">
            <img src="/assets/img/team/profile-picture-3.jpg" class="card-img-top rounded-circle border-white"
              alt="Bonnie Green">
          </div>
          <div class="d-block">
            <h2 class="h6">Hi, Jane</h2>
            <a href="/pages/examples/sign-in.html" class="btn btn-secondary text-dark btn-xs"><span class="me-2"><span
                  class="fas fa-sign-out-alt"></span></span>Sign Out</a>
          </div>
        </div>
        <div class="collapse-close d-md-none">
          <a href="#sidebarMenu" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
            aria-controls="sidebarMenu" aria-expanded="true" aria-label="Toggle navigation"></a>
        </div>
      </div>
      <ul class="nav flex-column pt-3 pt-md-0">
        <li class="nav-item">
          <a href="/home" class="nav-link d-flex align-items-center">
            <span class="sidebar-icon">
              <img src="/assets/img/favicon/android-chrome-512x512.png" height="20" width="20" alt="Volt Logo">
            </span>
            <span class="mt-1 ms-1 sidebar-text">Back to Home</span>
          </a>
        </li>
        <li class="nav-item ">
          <a href="/pages/dashboard/dashboard.html" class="nav-link">
            <span class="sidebar-icon"><span class="fas fa-tachometer-alt"></span></span>
            <span class="sidebar-text">Dashboard</span>
          </a>
        </li>



        <li class="nav-item ">
          <a href="https://demo.themesberg.com/volt-pro/pages/kanban.html" target="_blank"
            class="nav-link d-flex justify-content-between">
            <span>
              <span class="sidebar-icon"><span class="fas fa-newspaper"></span></span>
              <span class="sidebar-text">All Article</span>
            </span>

          </a>
        </li>

        <li class="nav-item ">
          <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
            data-bs-target="#submenu-app">
            <span>
              <span class="sidebar-icon"><span class="fas fa-table"></span></span>
              <span class="sidebar-text">Article</span>
            </span>
            <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
          </span>
          <div class="multi-level collapse show" role="list" id="submenu-app" aria-expanded="false">
            <ul class="flex-column nav">
              <li class="nav-item ">
                <a class="nav-link" href="/article/new">
                  <span class="sidebar-text">New Article</span>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/article/myArticles">
                  <span class="sidebar-text">My Articles</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/article/allArticles">
                  <span class="sidebar-text">All Article</span>
                </a>
              </li>
            </ul>
          </div>
        </li>







        <li class="nav-item ">
          <a href="/dashboard" class="nav-link">
            <span class="sidebar-icon"><span class="fas fa-cog"></span></span>
            <span class="sidebar-text">My Info</span>
          </a>
        </li>

        <!-- <li class="nav-item">
          <span class="nav-link  d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
            data-bs-target="#submenu-app" aria-expanded="true">
            <span>
              <span class="sidebar-icon "><span class="fas fa-table"></span></span>
              <span class="sidebar-text">My Info</span>
            </span>
            <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
          </span>
          <div class="multi-level collapse show" role="list" id="submenu-app" aria-expanded="false">
            <ul class="flex-column nav">
              <li class="nav-item ">
                <a class="nav-link" href="/pages/tables/bootstrap-tables.html">
                  <span class="sidebar-text">Show profile</span>
                </a>
              </li>

              <li class="nav-item  active">
                <a class="nav-link" href="/pages/tables/bootstrap-tables.html">
                  <span class="sidebar-text">Edit Profile</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/pages/tables/bootstrap-tables.html">
                  <span class="sidebar-text">Reset Password</span>
                </a>
              </li>
            </ul>
          </div>
        </li> -->

        <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
          <p class="mb-0 text-center text-xl-left">Copyright ©<span class="current-year"></span> <a
              class="text-primary fw-normal" href="http://Qiftolly.ir" target="_blank">Qiftolly</a></p>
        </div>
      </ul>
    </div>
  </nav>


  <main class="content">

    <nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark ps-0 pe-2 pb-0">
      <div class="container-fluid px-0">
        <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
          <div class="d-flex align-items-center">
            <!-- Search form -->
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
              <div class="d-block mb-4 mb-md-0">

                <h2 class="h4">Create New Article</h2>
                <p class="mb-0">You can create a new article in this page.</p>
              </div>

            </div>
          </div>
          <!-- Navbar links -->
          <ul class="navbar-nav align-items-center">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle pt-1 px-0" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <div class="media d-flex align-items-center">
                  <img class="user-avatar md-avatar rounded-circle" id="avatar_show" alt="Image placeholder"
                    src="/images/avatars/default.png">
                  <div class="media-body ms-2 text-dark align-items-center d-none d-lg-block">
                    <span class="mb-0 font-small fw-bold name_show" >Bonnie Green</span>
                  </div>
                </div>
              </a>
              <div class="dropdown-menu dashboard-dropdown dropdown-menu-end mt-2 py-0">
                <a class="dropdown-item rounded-top fw-bold" href="/dashboard"><span
                    class="far fa-user-circle"></span>My
                  Profile</a>
                <a class="dropdown-item fw-bold" href="#"><span class="fas fa-cog"></span>Settings</a>
                <a class="dropdown-item fw-bold" href="#"><span class="fas fa-envelope-open-text"></span>Messages</a>
                <a class="dropdown-item fw-bold" href="#"><span class="fas fa-user-shield"></span>Support</a>
                <div role="separator" class="dropdown-divider my-0"></div>
                <a class="dropdown-item rounded-bottom fw-bold" id="logout_btn"><span
                    class="fas fa-sign-out-alt text-danger"></span>Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>



    <div class="card card-body shadow-sm table-wrapper table-responsive">


      <!-- !  -----------------------< CURD >---------------------- -->





      <article class="col-12 " id="container">

        <% articles.forEach(element => { %>
          
          
          
         
         <section class="blog-card mb-4 mb-lg-5">
           <div class="card shadow-sm border-light px-0 py-3 p-md-4">
             <div class="card-body py-2">
               <div class="font-small mb-3"> <span>By</span>
                 <a href="https://twitter.com/zoltanszogyenyi" target="_blank" rel="author" class="text-dark">
                   <address class="mb-0 d-inline mr-1">
                     <span class="font-weight-medium name_show">
                      <%= element.owner.firstname %> <%= element.owner.lastname %>
 
                     </span>
                   </address>
                 </a>
                 <time class="d-inline" pubdate="pubdate" datetime="Apr 01 2021">1 week ago</time>
               </div>
               <a href="https://themesberg.com/blog/django/user-profile-tutorial">
                 <h2 class="h2 mt-0 mt-md-2 mb-0">
                  <%= element.title %>
 
                 </h2>
               </a>
               <a href="https://themesberg.com/blog/django/user-profile-tutorial" class="d-block mb-0 mb-lg-2 mt-1">
                 <img
                   class="blog-img card-img-top lazy loaded"
                   src="<%= element.profile %>">
               </a>
               <p class="mb-0 mb-lg-4"><%= element.summery %></p>
             </div>
             <div class="card-footer mx-4 px-0 pt-0 mt-3 mt-lg-0">
               <div class="d-flex align-items-center justify-content-between">
                 <div class="post-meta">
                   
                   <a class="text-dark" href="https://themesberg.com/blog/django/user-profile-tutorial#disqus_thread">
                    <%= element.profile %> View
                   </a>
                 </div>
               </div>
             </div>
           </div>
         </section>
         <% });  %> 
         
         




      </article>






      <!-- !  -----------------------< CURD >---------------------- -->
      <!-- <div class="container-fluid kanban-container py-4 px-0">
        <div class="row d-flex flex-nowrap">
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h5 class="fs-6 fw-bold mb-0">To do</h5>
              <div class="dropdown"><button type="button" class="btn btn-sm fs-6 px-1 py-0 dropdown-toggle"
                  id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><span
                    class="fas fa-ellipsis-h"></span></button>
                <div class="dropdown-menu dashboard-dropdown dropdown-menu-start py-0"
                  aria-labelledby="dropdownMenuLink"><a class="dropdown-item fw-normal" href="#"><span
                      class="fas fa-plus"></span>Add card</a> <a class="dropdown-item fw-normal" href="#"><span
                      class="far fa-clone"></span>Copy list</a> <a class="dropdown-item fw-normal" href="#">Move
                    list</a> <a class="dropdown-item fw-normal" href="#">Watch</a>
                  <div role="separator" class="dropdown-divider my-0"></div><a
                    class="dropdown-item fw-normal text-danger rounded-bottom" href="#"><span
                      class="fas fa-trash-alt"></span>Remove</a>
                </div>
              </div>
            </div>
            <div id="kanbanColumn1" class="list-group kanban-list">
              <div class="card shadow-sm px-3 py-2">
                <div class="card-header d-flex align-items-center justify-content-between border-0 p-0 mb-2">
                  <h3 class="h5 mb-0">variables.scss problems</h3>
                  <div>
                    <div class="dropdown"><button type="button" class="btn btn-sm fs-6 px-1 py-0 dropdown-toggle"
                        id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><span
                          class="far fa-edit"></span></button>
                      <div class="dropdown-menu dashboard-dropdown dropdown-menu-start py-0"
                        aria-labelledby="dropdownMenuLink"><a class="dropdown-item fw-normal rounded-top" href="#"
                          data-bs-toggle="modal" data-bs-target="#editTaskModal"><span class="fas fa-edit"></span>Edit
                          task</a> <a class="dropdown-item fw-normal" href="#"><span class="far fa-clone"></span>Copy
                          Task</a> <a class="dropdown-item fw-normal" href="#"><span class="far fa-star"></span> Add to
                          favorites</a>
                        <div role="separator" class="dropdown-divider my-0"></div><a
                          class="dropdown-item fw-normal text-danger rounded-bottom" href="#"><span
                            class="fas fa-trash-alt"></span>Remove</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body p-0">
                  <p>On line 672 you define $table_variants. Each instance of "color-level" needs to be changed to
                    "shift-color".</p>
                  <h5 class="fs-6 fw-normal mt-4">3 Assignees</h5>
                  <div class="avatar-group"><a href="#" class="avatar" data-bs-toggle="tooltip"
                      data-original-title="Ryan Tompson" data-bs-original-title="" title=""><img class="rounded"
                        alt="Image placeholder" src="../assets/img/team/profile-picture-1.jpg"> </a><a href="#"
                      class="avatar" data-bs-toggle="tooltip" data-original-title="Romina Hadid"
                      data-bs-original-title="" title=""><img class="rounded" alt="Image placeholder"
                        src="../assets/img/team/profile-picture-2.jpg"> </a><a href="#" class="avatar"
                      data-bs-toggle="tooltip" data-original-title="Alexander Smith" data-bs-original-title=""
                      title=""><img class="rounded" alt="Image placeholder"
                        src="../assets/img/team/profile-picture-3.jpg"></a></div>
                </div>
              </div>
              <div class="card shadow-sm px-3 py-2">
                <div class="card-header d-flex align-items-center justify-content-between border-0 p-0 mb-2">
                  <h3 class="h5 mb-0">Redesign homepage</h3>
                  <div>
                    <div class="dropdown"><button type="button" class="btn btn-sm fs-6 px-1 py-0 dropdown-toggle"
                        id="dropdownMenuLink2" data-bs-toggle="dropdown" aria-expanded="false"><span
                          class="far fa-edit"></span></button>
                      <div class="dropdown-menu dashboard-dropdown dropdown-menu-start py-0"
                        aria-labelledby="dropdownMenuLink2"><a class="dropdown-item fw-normal rounded-top" href="#"
                          data-bs-toggle="modal" data-bs-target="#editTaskModal"><span class="fas fa-edit"></span>Edit
                          task</a> <a class="dropdown-item fw-normal" href="#"><span class="far fa-clone"></span>Copy
                          Task</a> <a class="dropdown-item fw-normal" href="#"><span class="far fa-star"></span> Add to
                          favorites</a>
                        <div role="separator" class="dropdown-divider my-0"></div><a
                          class="dropdown-item fw-normal text-danger rounded-bottom" href="#"><span
                            class="fas fa-trash-alt"></span>Remove</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body p-0"><img src="../assets/img/themesberg-mockup.jpg"
                    class="card-img-top mb-2 mb-lg-3" alt="themesberg marketplace">
                  <p>On line 672 you define $table_variants. Each instance of "color-level" needs to be changed to
                    "shift-color".</p>
                  <h5 class="fs-6 fw-normal mt-4">2 Assignees</h5>
                  <div class="avatar-group"><a href="#" class="avatar" data-bs-toggle="tooltip"
                      data-original-title="Ryan Tompson" data-bs-original-title="" title=""><img class="rounded"
                        alt="Image placeholder" src="../assets/img/team/profile-picture-1.jpg"> </a><a href="#"
                      class="avatar" data-bs-toggle="tooltip" data-original-title="Romina Hadid"
                      data-bs-original-title="" title=""><img class="rounded" alt="Image placeholder"
                        src="../assets/img/team/profile-picture-2.jpg"></a></div>
                </div>
              </div>
              <div class="card shadow-sm px-3 py-2">
                <div class="card-header d-flex align-items-center justify-content-between border-0 p-0 mb-2">
                  <h3 class="h5 mb-0">variables.scss problems</h3>
                  <div>
                    <div class="dropdown"><button type="button" class="btn btn-sm fs-6 px-1 py-0 dropdown-toggle"
                        id="dropdownMenuLink3" data-bs-toggle="dropdown" aria-expanded="false"><span
                          class="far fa-edit"></span></button>
                      <div class="dropdown-menu dashboard-dropdown dropdown-menu-start py-0"
                        aria-labelledby="dropdownMenuLink3"><a class="dropdown-item fw-normal rounded-top" href="#"
                          data-bs-toggle="modal" data-bs-target="#editTaskModal"><span class="fas fa-edit"></span>Edit
                          task</a> <a class="dropdown-item fw-normal" href="#"><span class="far fa-clone"></span>Copy
                          Task</a> <a class="dropdown-item fw-normal" href="#"><span class="far fa-star"></span> Add to
                          favorites</a>
                        <div role="separator" class="dropdown-divider my-0"></div><a
                          class="dropdown-item fw-normal text-danger rounded-bottom" href="#"><span
                            class="fas fa-trash-alt"></span>Remove</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body p-0">
                  <p>On line 672 you define $table_variants. Each instance of "color-level" needs to be changed to
                    "shift-color".</p>
                  <h5 class="fs-6 fw-normal mt-4">3 Assignees</h5>
                  <div class="avatar-group"><a href="#" class="avatar" data-bs-toggle="tooltip"
                      data-original-title="Ryan Tompson" data-bs-original-title="" title=""><img class="rounded"
                        alt="Image placeholder" src="../assets/img/team/profile-picture-1.jpg"> </a><a href="#"
                      class="avatar" data-bs-toggle="tooltip" data-original-title="Romina Hadid"
                      data-bs-original-title="" title=""><img class="rounded" alt="Image placeholder"
                        src="../assets/img/team/profile-picture-2.jpg"> </a><a href="#" class="avatar"
                      data-bs-toggle="tooltip" data-original-title="Alexander Smith" data-bs-original-title=""
                      title=""><img class="rounded" alt="Image placeholder"
                        src="../assets/img/team/profile-picture-3.jpg"></a></div>
                </div>
              </div> 
            </div>

          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h5 class="fs-6 fw-bold mb-0">In progress</h5>
              <div class="dropdown"><button type="button" class="btn btn-sm fs-6 px-1 py-0 dropdown-toggle"
                  id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><span
                    class="fas fa-ellipsis-h"></span></button>
                <div class="dropdown-menu dashboard-dropdown dropdown-menu-start py-0"
                  aria-labelledby="dropdownMenuLink"><a class="dropdown-item fw-normal" href="#"><span
                      class="fas fa-plus"></span>Add card</a> <a class="dropdown-item fw-normal" href="#"><span
                      class="far fa-clone"></span>Copy list</a> <a class="dropdown-item fw-normal" href="#">Move
                    list</a> <a class="dropdown-item fw-normal" href="#">Watch</a>
                  <div role="separator" class="dropdown-divider my-0"></div><a
                    class="dropdown-item fw-normal text-danger rounded-bottom" href="#"><span
                      class="fas fa-trash-alt"></span>Remove</a>
                </div>
              </div>
            </div>
            <div id="kanbanColumn2" class="list-group kanban-list">
              <div class="card shadow-sm px-3 py-2">
                <div class="card-header d-flex align-items-center justify-content-between border-0 p-0 mb-2">
                  <h3 class="h5 mb-0">Redesign homepage</h3>
                  <div>
                    <div class="dropdown"><button type="button" class="btn btn-sm fs-6 px-1 py-0 dropdown-toggle"
                        id="dropdownMenuLink4" data-bs-toggle="dropdown" aria-expanded="false"><span
                          class="far fa-edit"></span></button>
                      <div class="dropdown-menu dashboard-dropdown dropdown-menu-start py-0"
                        aria-labelledby="dropdownMenuLink4"><a class="dropdown-item fw-normal rounded-top" href="#"
                          data-bs-toggle="modal" data-bs-target="#editTaskModal"><span class="fas fa-edit"></span>Edit
                          task</a> <a class="dropdown-item fw-normal" href="#"><span class="far fa-clone"></span>Copy
                          Task</a> <a class="dropdown-item fw-normal" href="#"><span class="far fa-star"></span> Add to
                          favorites</a>
                        <div role="separator" class="dropdown-divider my-0"></div><a
                          class="dropdown-item fw-normal text-danger rounded-bottom" href="#"><span
                            class="fas fa-trash-alt"></span>Remove</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body p-0"><img src="../assets/img/themesberg-mockup.jpg"
                    class="card-img-top mb-2 mb-lg-3" alt="themesberg marketplace">
                  <p>On line 672 you define $table_variants. Each instance of "color-level" needs to be changed to
                    "shift-color".</p>
                  <h5 class="fs-6 fw-normal mt-4">2 Assignees</h5>
                  <div class="avatar-group"><a href="#" class="avatar" data-bs-toggle="tooltip"
                      data-original-title="Ryan Tompson" data-bs-original-title="" title=""><img class="rounded"
                        alt="Image placeholder" src="../assets/img/team/profile-picture-1.jpg"> </a><a href="#"
                      class="avatar" data-bs-toggle="tooltip" data-original-title="Romina Hadid"
                      data-bs-original-title="" title=""><img class="rounded" alt="Image placeholder"
                        src="../assets/img/team/profile-picture-2.jpg"></a></div>
                </div>
              </div>
              <div class="card shadow-sm px-3 py-2">
                <div class="card-header d-flex align-items-center justify-content-between border-0 p-0 mb-2">
                  <h3 class="h5 mb-0">Design banner</h3>
                  <div>
                    <div class="dropdown"><button type="button" class="btn btn-sm fs-6 px-1 py-0 dropdown-toggle"
                        id="dropdownMenuLink5" data-bs-toggle="dropdown" aria-expanded="false"><span
                          class="far fa-edit"></span></button>
                      <div class="dropdown-menu dashboard-dropdown dropdown-menu-start py-0"
                        aria-labelledby="dropdownMenuLink5"><a class="dropdown-item fw-normal rounded-top" href="#"
                          data-bs-toggle="modal" data-bs-target="#editTaskModal"><span class="fas fa-edit"></span>Edit
                          task</a> <a class="dropdown-item fw-normal" href="#"><span class="far fa-clone"></span>Copy
                          Task</a> <a class="dropdown-item fw-normal" href="#"><span class="far fa-star"></span> Add to
                          favorites</a>
                        <div role="separator" class="dropdown-divider my-0"></div><a
                          class="dropdown-item fw-normal text-danger rounded-bottom" href="#"><span
                            class="fas fa-trash-alt"></span>Remove</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body p-0">
                  <p>On line 672 you define $table_variants. Each instance of "color-level" needs to be changed to
                    "shift-color".</p>
                  <div class="d-flex align-items-center justify-content-between mb-1">
                    <h5 class="h6 mb-0">Progress</h5>
                    <div class="fw-bold small"><span>40%</span></div>
                  </div>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h5 class="fs-6 fw-normal mt-4">2 Assignees</h5>
                  <div class="avatar-group"><a href="#" class="avatar" data-bs-toggle="tooltip"
                      data-original-title="Ryan Tompson" data-bs-original-title="" title=""><img class="rounded"
                        alt="Image placeholder" src="../assets/img/team/profile-picture-1.jpg"> </a><a href="#"
                      class="avatar" data-bs-toggle="tooltip" data-original-title="Romina Hadid"
                      data-bs-original-title="" title=""><img class="rounded" alt="Image placeholder"
                        src="../assets/img/team/profile-picture-2.jpg"></a></div>
                </div>
              </div> 
            </div>
            
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h5 class="fs-6 fw-bold mb-0">Done</h5>
              <div class="dropdown"><button type="button" class="btn btn-sm fs-6 px-1 py-0 dropdown-toggle"
                  id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><span
                    class="fas fa-ellipsis-h"></span></button>
                <div class="dropdown-menu dashboard-dropdown dropdown-menu-start py-0"
                  aria-labelledby="dropdownMenuLink"><a class="dropdown-item fw-normal" href="#"><span
                      class="fas fa-plus"></span>Add card</a> <a class="dropdown-item fw-normal" href="#"><span
                      class="far fa-clone"></span>Copy list</a> <a class="dropdown-item fw-normal" href="#">Move
                    list</a> <a class="dropdown-item fw-normal" href="#">Watch</a>
                  <div role="separator" class="dropdown-divider my-0"></div><a
                    class="dropdown-item fw-normal text-danger rounded-bottom" href="#"><span
                      class="fas fa-trash-alt"></span>Remove</a>
                </div>
              </div>
            </div>
            <div id="kanbanColumn3" class="list-group kanban-list">
              <div class="card shadow-sm px-3 py-2">
                <div class="card-header d-flex align-items-center justify-content-between border-0 p-0 mb-2">
                  <h3 class="h5 mb-0">variables.scss problems</h3>
                  <div>
                    <div class="dropdown"><button type="button" class="btn btn-sm fs-6 px-1 py-0 dropdown-toggle"
                        id="dropdownMenuLink6" data-bs-toggle="dropdown" aria-expanded="false"><span
                          class="far fa-edit"></span></button>
                      <div class="dropdown-menu dashboard-dropdown dropdown-menu-start py-0"
                        aria-labelledby="dropdownMenuLink6"><a class="dropdown-item fw-normal rounded-top" href="#"
                          data-bs-toggle="modal" data-bs-target="#editTaskModal"><span class="fas fa-edit"></span>Edit
                          task</a> <a class="dropdown-item fw-normal" href="#"><span class="far fa-clone"></span>Copy
                          Task</a> <a class="dropdown-item fw-normal" href="#"><span class="far fa-star"></span> Add to
                          favorites</a>
                        <div role="separator" class="dropdown-divider my-0"></div><a
                          class="dropdown-item fw-normal text-danger rounded-bottom" href="#"><span
                            class="fas fa-trash-alt"></span>Remove</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body p-0">
                  <p>On line 672 you define $table_variants. Each instance of "color-level" needs to be changed to
                    "shift-color".</p>
                  <h5 class="fs-6 fw-normal mt-4">3 Assignees</h5>
                  <div class="avatar-group"><a href="#" class="avatar" data-bs-toggle="tooltip"
                      data-original-title="Ryan Tompson" data-bs-original-title="" title=""><img class="rounded"
                        alt="Image placeholder" src="../assets/img/team/profile-picture-1.jpg"> </a><a href="#"
                      class="avatar" data-bs-toggle="tooltip" data-original-title="Romina Hadid"
                      data-bs-original-title="" title=""><img class="rounded" alt="Image placeholder"
                        src="../assets/img/team/profile-picture-2.jpg"> </a><a href="#" class="avatar"
                      data-bs-toggle="tooltip" data-original-title="Alexander Smith" data-bs-original-title=""
                      title=""><img class="rounded" alt="Image placeholder"
                        src="../assets/img/team/profile-picture-3.jpg"></a></div>
                </div>
              </div>
              <div class="card shadow-sm px-3 py-2">
                <div class="card-header d-flex align-items-center justify-content-between border-0 p-0 mb-2">
                  <h3 class="h5 mb-0">Redesign homepage</h3>
                  <div>
                    <div class="dropdown"><button type="button" class="btn btn-sm fs-6 px-1 py-0 dropdown-toggle"
                        id="dropdownMenuLink7" data-bs-toggle="dropdown" aria-expanded="false"><span
                          class="far fa-edit"></span></button>
                      <div class="dropdown-menu dashboard-dropdown dropdown-menu-start py-0"
                        aria-labelledby="dropdownMenuLink7"><a class="dropdown-item fw-normal rounded-top" href="#"
                          data-bs-toggle="modal" data-bs-target="#editTaskModal"><span class="fas fa-edit"></span>Edit
                          task</a> <a class="dropdown-item fw-normal" href="#"><span class="far fa-clone"></span>Copy
                          Task</a> <a class="dropdown-item fw-normal" href="#"><span class="far fa-star"></span> Add to
                          favorites</a>
                        <div role="separator" class="dropdown-divider my-0"></div><a
                          class="dropdown-item fw-normal text-danger rounded-bottom" href="#"><span
                            class="fas fa-trash-alt"></span>Remove</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body p-0"><img src="../assets/img/themesberg-mockup.jpg"
                    class="card-img-top mb-2 mb-lg-3" alt="themesberg marketplace">
                  <p>On line 672 you define $table_variants. Each instance of "color-level" needs to be changed to
                    "shift-color".</p>
                  <h5 class="fs-6 fw-normal mt-4">2 Assignees</h5>
                  <div class="avatar-group"><a href="#" class="avatar" data-bs-toggle="tooltip"
                      data-original-title="Ryan Tompson" data-bs-original-title="" title=""><img class="rounded"
                        alt="Image placeholder" src="../assets/img/team/profile-picture-1.jpg"> </a><a href="#"
                      class="avatar" data-bs-toggle="tooltip" data-original-title="Romina Hadid"
                      data-bs-original-title="" title=""><img class="rounded" alt="Image placeholder"
                        src="../assets/img/team/profile-picture-2.jpg"></a></div>
                </div>
              </div> <button type="button" class="btn btn-outline-gray-700 dashed-outline w-100 new-card"
                data-bs-toggle="modal" data-bs-target="#KanbanAddCard3"><span class="fas fa-plus me-2"></span> Add
                another card</button>
            </div>
            <div class="d-grid">
              <div class="modal fade" id="KanbanAddCard3" tabindex="-1" aria-labelledby="KanbanAddCardLabel3"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content p-4">
                    <div class="modal-header pb-0 border-0">
                      <h5 class="modal-title fw-normal" id="KanbanAddCardLabel3">Add a new task</h5><button
                        type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body pb-0">
                      <div class="mb-3"><input type="email" class="form-control" id="exampleFormControlInput3"
                          placeholder="Enter a title for this card…"></div>
                      <div class="mb-3"><textarea class="form-control" id="exampleFormControlTextarea3"
                          placeholder="Enter a description for this card…" rows="3"></textarea></div>
                    </div>
                    <div class="modal-footer border-0 pt-0 justify-content-start"><button type="button"
                        class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button> <button type="button"
                        class="btn btn-success"><span class="fas fa-plus me-2"></span>Add card</button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h5 class="fs-6 fw-bold mb-0">Deployed</h5>
              <div class="dropdown"><button type="button" class="btn btn-sm fs-6 px-1 py-0 dropdown-toggle"
                  id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><span
                    class="fas fa-ellipsis-h"></span></button>
                <div class="dropdown-menu dashboard-dropdown dropdown-menu-start py-0"
                  aria-labelledby="dropdownMenuLink"><a class="dropdown-item fw-normal" href="#"><span
                      class="fas fa-plus"></span>Add card</a> <a class="dropdown-item fw-normal" href="#"><span
                      class="far fa-clone"></span>Copy list</a> <a class="dropdown-item fw-normal" href="#">Move
                    list</a> <a class="dropdown-item fw-normal" href="#">Watch</a>
                  <div role="separator" class="dropdown-divider my-0"></div><a
                    class="dropdown-item fw-normal text-danger rounded-bottom" href="#"><span
                      class="fas fa-trash-alt"></span>Remove</a>
                </div>
              </div>
            </div>
            <div id="kanbanColumn4" class="list-group kanban-list">
              <div class="card shadow-sm px-3 py-2">
                <div class="card-header d-flex align-items-center justify-content-between border-0 p-0 mb-2">
                  <h3 class="h5 mb-0">variables.scss problems</h3>
                  <div>
                    <div class="dropdown"><button type="button" class="btn btn-sm fs-6 px-1 py-0 dropdown-toggle"
                        id="dropdownMenuLink8" data-bs-toggle="dropdown" aria-expanded="false"><span
                          class="far fa-edit"></span></button>
                      <div class="dropdown-menu dashboard-dropdown dropdown-menu-start py-0"
                        aria-labelledby="dropdownMenuLink8"><a class="dropdown-item fw-normal rounded-top" href="#"
                          data-bs-toggle="modal" data-bs-target="#editTaskModal"><span class="fas fa-edit"></span>Edit
                          task</a> <a class="dropdown-item fw-normal" href="#"><span class="far fa-clone"></span>Copy
                          Task</a> <a class="dropdown-item fw-normal" href="#"><span class="far fa-star"></span> Add to
                          favorites</a>
                        <div role="separator" class="dropdown-divider my-0"></div><a
                          class="dropdown-item fw-normal text-danger rounded-bottom" href="#"><span
                            class="fas fa-trash-alt"></span>Remove</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body p-0">
                  <p>On line 672 you define $table_variants. Each instance of "color-level" needs to be changed to
                    "shift-color".</p>
                  <h5 class="fs-6 fw-normal mt-4">3 Assignees</h5>
                  <div class="avatar-group"><a href="#" class="avatar" data-bs-toggle="tooltip"
                      data-original-title="Ryan Tompson" data-bs-original-title="" title=""><img class="rounded"
                        alt="Image placeholder" src="../assets/img/team/profile-picture-1.jpg"> </a><a href="#"
                      class="avatar" data-bs-toggle="tooltip" data-original-title="Romina Hadid"
                      data-bs-original-title="" title=""><img class="rounded" alt="Image placeholder"
                        src="../assets/img/team/profile-picture-2.jpg"> </a><a href="#" class="avatar"
                      data-bs-toggle="tooltip" data-original-title="Alexander Smith" data-bs-original-title=""
                      title=""><img class="rounded" alt="Image placeholder"
                        src="../assets/img/team/profile-picture-3.jpg"></a></div>
                </div>
              </div>
              <div class="card shadow-sm px-3 py-2">
                <div class="card-header d-flex align-items-center justify-content-between border-0 p-0 mb-2">
                  <h3 class="h5 mb-0">Redesign homepage</h3>
                  <div>
                    <div class="dropdown"><button type="button" class="btn btn-sm fs-6 px-1 py-0 dropdown-toggle"
                        id="dropdownMenuLink9" data-bs-toggle="dropdown" aria-expanded="false"><span
                          class="far fa-edit"></span></button>
                      <div class="dropdown-menu dashboard-dropdown dropdown-menu-start py-0"
                        aria-labelledby="dropdownMenuLink9"><a class="dropdown-item fw-normal rounded-top" href="#"
                          data-bs-toggle="modal" data-bs-target="#editTaskModal"><span class="fas fa-edit"></span>Edit
                          task</a> <a class="dropdown-item fw-normal" href="#"><span class="far fa-clone"></span>Copy
                          Task</a> <a class="dropdown-item fw-normal" href="#"><span class="far fa-star"></span> Add to
                          favorites</a>
                        <div role="separator" class="dropdown-divider my-0"></div><a
                          class="dropdown-item fw-normal text-danger rounded-bottom" href="#"><span
                            class="fas fa-trash-alt"></span>Remove</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body p-0"><img src="../assets/img/themesberg-mockup.jpg"
                    class="card-img-top mb-2 mb-lg-3" alt="themesberg marketplace">
                  <p>On line 672 you define $table_variants. Each instance of "color-level" needs to be changed to
                    "shift-color".</p>
                  <h5 class="fs-6 fw-normal mt-4">2 Assignees</h5>
                  <div class="avatar-group"><a href="#" class="avatar" data-bs-toggle="tooltip"
                      data-original-title="Ryan Tompson" data-bs-original-title="" title=""><img class="rounded"
                        alt="Image placeholder" src="../assets/img/team/profile-picture-1.jpg"> </a><a href="#"
                      class="avatar" data-bs-toggle="tooltip" data-original-title="Romina Hadid"
                      data-bs-original-title="" title=""><img class="rounded" alt="Image placeholder"
                        src="../assets/img/team/profile-picture-2.jpg"></a></div>
                </div>
              </div> <button type="button" class="btn btn-outline-gray-700 dashed-outline new-card w-100"
                data-bs-toggle="modal" data-bs-target="#KanbanAddCard"><span class="fas fa-plus me-2"></span> Add
                another card</button>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div id="kanbanColumn5" class="list-group"></div>
            <div class="d-grid"> <button type="button" class="btn btn-outline-gray-700 dashed-outline"
                data-bs-toggle="modal" data-bs-target="#KanbanAddGroup5"><span class="fas fa-plus me-2"></span> Add
                another group</button>
              <div class="modal fade" id="KanbanAddGroup5" tabindex="-1" aria-labelledby="KanbanAddGroupLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content p-4">
                    <div class="modal-header pb-0 border-0">
                      <h5 class="modal-title fw-normal" id="KanbanAddGroupLabel">Add a new group</h5><button
                        type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body pb-0">
                      <div class="mb-3"><input type="email" class="form-control" id="exampleFormControlInput4"
                          placeholder="Enter a title for this group"></div>
                      <div class="mb-3"><textarea class="form-control" id="exampleFormControlTextarea4"
                          placeholder="Enter a description for this group" rows="3"></textarea></div>
                    </div>
                    <div class="modal-footer border-0 pt-0 justify-content-start"><button type="button"
                        class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button> <button type="button"
                        class="btn btn-success"><span class="fas fa-plus me-2"></span>Add group</button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div> -->

      <!-- !  -----------------------< CURD >---------------------- -->

    </div>




    <footer class="footer section py-5">
      <div class="row">

        <div class="col-12 col-lg-6">
          <!-- List -->
          <ul class="list-inline list-group-flush list-group-borderless text-center text-xl-right mb-0">
            <li class="list-inline-item px-0 px-sm-2">
              <a href="https://themesberg.com/about">About</a>
            </li>

            <li class="list-inline-item px-0 px-sm-2">
              <a href="https://themesberg.com/blog">Blog</a>
            </li>
            <li class="list-inline-item px-0 px-sm-2">
              <a href="https://themesberg.com/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </main>










  <!-- Core -->
  <script src="/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- Vendor JS -->
  <script src="/vendor/onscreen/dist/on-screen.umd.min.js"></script>

  <!-- Slider -->
  <script src="/vendor/nouislider/distribute/nouislider.min.js"></script>

  <!-- Smooth scroll -->
  <script src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

  <!-- Charts -->
  <script src="/vendor/chartist/dist/chartist.min.js"></script>
  <script src="/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>

  <!-- Datepicker -->
  <script src="/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

  <!-- Sweet Alerts 2 -->
  <script src="/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>

  <!-- Moment JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

  <!-- Vanilla JS Datepicker -->
  <script src="/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

  <!-- Notyf -->
  <script src="/vendor/notyf/notyf.min.js"></script>

  <!-- Simplebar -->
  <script src="/vendor/simplebar/dist/simplebar.min.js"></script>

  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <!-- Volt JS -->
  <script src="/assets/js/volt.js"></script>

  <!-- newArticle JS -->
  <script src="/js/myArticle.js"></script>


</body>

</html>